.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


a {
  text-decoration: "none";
  color: "black";
}
a:hover {
  text-decoration: "none";
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #000000;
  height: 60px;
  padding: 0px;
  color: rgb(0, 0, 0);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 0;
}

.navigation {
  background: #000000;
  color: blanchedalmond;
  height: 0px;
  font-size: 35px;
  font-family: URW Chancery L, cursive;
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a:link,
.navigation a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navigation1 {
  background: #000000;
  color: blanchedalmond;
  height: 0px;
  font-size: 35px;
  font-family: URW Chancery L, cursive;
}

.navigation1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation1 a:link,
.navigation1 a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navigation2 {
  background: #000000;
  color: blanchedalmond;
  height: 0px;
  font-size: 35px;
  font-family: URW Chancery L, cursive;
  float: right;
  padding: 15px;
}

.navigation2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation2 a:link,
.navigation2 a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
}
.active:hover {
  color: blanchedalmond !important;
  text-decoration: none;
}

.error {
  font-weight: bold;
  color: red !important;
}

.forgotPassword {
  background: none !important;
  border: none !important;
  text-decoration: underline;
  margin-left: 5px;
  color: #069;
}

.forgotPassword:hover {
  text-decoration: none;
  color: red;
}

.center {
  width: 13.5vw;
  padding: 12px 10px;
  justify-content: center;
  scroll-margin-left: 46vw;
  margin-left: 43vw;
}

.h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
}

.h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  font-size: 25px;
}

.h4 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  font-size: 20px;
  font-weight: 1000;
}

.b1 {
  position: absolute;
  left: 25%;
  top: 68%;
  scroll-margin-left: 26vw;
  margin-left: 0vw;
}
.b2 {
  position: absolute;
  left: 25%;
  top: 75%;
  scroll-margin-left: 26vw;
  margin-left: 0vw;
}

.i1 {
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 68%;
  top: 30%;
  scroll-margin-right: 26vw;
  margin-left: 0vw;
}
.centertest {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  border: 2px solid grey;
  border-radius: 10px;
  padding: 40px;
}

.input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(255, 255, 255);
  padding: 12px;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 200px;
  font-size: 14px;
  color: black;
}

.button {
  text-decoration: none;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  border-color: blanchedalmond;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  border-radius: 4px;
  background-color: blanchedalmond;
  border: none;
  border-color: rgb(48, 47, 47);
  text-decoration: none;
  color: #888484;
  display: inline-block;
  font-size: 14px;
  padding: 12px 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

.button1:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.App-body {
  padding-top: 1.6%;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  border-radius: 4px;
  float: right;
  background-color: blanchedalmond;
  border: none;
  border-color: rgb(48, 47, 47);
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 12px 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.linktext {
  text-decoration: none;
  color: white;
}

.linktext:hover {
  color: white;
  text-decoration: none;
}
.bg {
  height: 100vh;
  padding: 50px;
  overflow: hidden;
  transition: 0.2s all linear;
}

.heading {
  text-transform: uppercase;
  transition: 0.2s all linear;
}

.para {
  width: 70vw;
  transition: 0.2s all linear;
}

.light {
  background-color: #ffffff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.dark {
  background-color: rgb(31, 34, 39);
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #ffebcd;
}

.buttonDark {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all linear;
}
.typography {
  color: white;
}
.darkTheme {
  background-color: #000000;
  color: #069;
}
.lightTheme {
  background-color: #222;
  color: #ffffff;
}

.row_posters {
  margin-right: auto;
  padding-left: 5px;
  display: flex;
}

.carousel-link {
  text-decoration: none;
  color: #fff;
}

.carousel-link:hover {
  text-decoration: none;
  color: #fff;
}

.row_poster {
  object-fit: contain;
  width: "auto";
  max-height: 100px;
}
 
.row_poster::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
} 
 .scrollbar-hidden::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar {
  width: 0px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  /* overflow-x: hidden; */
  padding: 50px;
  padding-right: 10px;
  
}

.row_poster:hover {
  transform: scale(1.08);
}

.right {
  float: right;
}

.new-story-form-els {
  margin-bottom: 13%;
}
/* -------------FOOTER------------ */

.main-footer {
  color: rgb(204, 203, 203);
  background-color: #6e6566;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  height: 20%;
  width: 100%;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
.content-wrap {
  flex: 1;
}

/* ------------------------ */

.tox {
  box-shadow: black;
  box-sizing: content-box;
  color: #222f3e;
  cursor: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  vertical-align: initial;
  white-space: normal;
  border: 5px solid rgb(0, 0, 0);
}
.tox-tinymce {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: "auto";
  box-shadow: black 5px;
  box-sizing: border-box;
  
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow: hidden;
  position: absolute;
  visibility: inherit !important;
  margin-left: 2.5vw;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
